<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.BoardMapper">
	
		<select id="getList" resultType="com.bit.domain.RecruitVO">
			SELECT * FROM RECRUIT
		</select>
	
	
	
</mapper>



