<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.BookMapper">
	
	<!-- 전체 좌석 수 확인 -->
	<select id="seatCnt" resultType="int" parameterType="Map">
		SELECT COUNT(S_COL) FROM SEATS S, SEAT_CATEGORY SCT
		WHERE SCT.SCT_IDX = S.SCT_IDX
		AND SCT.ROOMNUM = #{roomnum} AND S.BR_IDX = #{br_idx}
		ORDER BY S.S_IDX
	</select>
	
	<!-- 예약된 좌석 수 (개인실)-->
	<select id="bookoneCnt" resultType="int" parameterType="com.bit.domain.BookingVO">
		SELECT NVL(COUNT(*),0) FROM (
			SELECT distinct sv.*, B.ID, B.BK_REGDATE FROM SEATS_VIEW SV, BOOKING B 
			WHERE SV.S_IDX = B.S_IDX
			AND NOT (
				<![CDATA[
				(b.end_time < to_date(#{start_time}, 'YYYY-MM-DD HH24:MI'))
			or (to_date(#{end_time}, 'YYYY-MM-DD HH24:MI') < b.start_time)
				]]>
		    )
			AND SV.ROOMNUM = #{roomnum} AND SV.BR_IDX = #{br_idx})
	</select>
	
	<!-- 예약된 좌석 조회 (개인실) -->
	<select id="bookone" resultType="com.bit.domain.BookingVO">
		SELECT distinct sv.*, B.ID, B.START_TIME, B.END_TIME, B.BK_REGDATE FROM SEATS_VIEW SV, BOOKING B 
		WHERE SV.S_IDX = B.S_IDX
		AND NOT (
			<![CDATA[
				(b.end_time < to_date(#{start_time}, 'YYYY-MM-DD HH24:MI'))
			or (to_date(#{end_time}, 'YYYY-MM-DD HH24:MI') < b.start_time)
			]]>
		)
		AND SV.ROOMNUM = #{roomnum} AND SV.BR_IDX = #{br_idx}
	</select>
	
	<select id="bookroomCnt" resultType="int" parameterType="com.bit.domain.BookingVO">
		SELECT NVL(COUNT(*),0) FROM (
			SELECT distinct sv.* FROM SEATS_VIEW SV, BOOKING B 
			WHERE sv.s_idx = b.s_idx
			AND not (
				<![CDATA[
					(b.end_time < to_date(#{start_time}, 'YYYY-MM-DD HH24:MI'))
					or (to_date(#{end_time}, 'YYYY-MM-DD HH24:MI') < b.start_time)
				]]>
			)
			and sv.roomnum = 2 AND SV.BR_IDX = #{br_idx}
			order by sv.s_idx )
	</select>
	
	<!-- 예약된 랩실 -->
	<select id="bookroom" resultType="com.bit.domain.BookingVO">
		SELECT distinct sv.* FROM SEATS_VIEW SV, BOOKING B 
		WHERE sv.s_idx = b.s_idx
		AND not (
			<![CDATA[
				(b.end_time < to_date(#{start_time}, 'YYYY-MM-DD HH24:MI'))
				or (to_date(#{end_time}, 'YYYY-MM-DD HH24:MI') < b.start_time)
			]]>
		)
		and sv.roomnum = 2 AND SV.BR_IDX = #{br_idx}
		order by sv.s_idx
	</select>	
	
	<!-- 예약완료 -->
	<insert id="bookOk" parameterType="com.bit.domain.BookingVO">
		INSERT INTO BOOKING (bk_idx, id, s_idx, start_time, end_time, bk_regdate, booknum, price)
			VALUES (
			(SELECT NVL(MAX(bk_idx),0)+1 FROM BOOKING), #{id}, #{s_idx},
			to_date(#{start_time}, 'YYYY-MM-DD HH24:MI'), to_date(#{end_time},'YYYY-MM-DD HH24:MI'),
			SYSDATE, #{booknum}, #{price})
	</insert>
	
	<!-- s_idx -->
	<select id="seatnum" resultType="com.bit.domain.SeatsVO">
		SELECT S_IDX FROM SEATS WHERE S_COL = #{s_col} AND BR_IDX = #{br_idx}
	</select>
	
	<!-- 예약 안 된 좌석 리스트 -->
	<select id="not_bookCb" resultType="com.bit.domain.CabinetVO">
		SELECT CB_IDX FROM CABINET 
			WHERE BR_IDX = #{br_idx}
			AND CB_IDX NOT IN (SELECT CB_IDX FROM CABINET_VIEW WHERE BR_IDX = #{br_idx})
			ORDER BY CB_IDX
	</select>
	
	
	
	
	<!-- 사물함 예약 -->
	<insert id="bookCabinet" parameterType="com.bit.domain.BookingCbVO">
	INSERT INTO BOOKING_CB (CKB_IDX, ID, START_DATE, END_DATE, CB_IDX, CKB_REGDATE)
	VALUES ((select NVL(MAX(ckb_idx),0)+1 from booking_cb), 
	#{id}, to_date(#{start_date}, 'YYYY-MM-DD HH24:MI'), to_date(#{end_date},'YYYY-MM-DD HH24:MI'),
	#{cb_idx}, SYSDATE)
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 오늘 예매자 선택 정보 조회 -->
	<select id="myseat" resultType="com.bit.domain.BookingVO">
		SELECT distinct sv.*, B.ID, B.START_TIME, B.END_TIME, B.BK_REGDATE, B.BOOKNUM
		FROM SEATS_VIEW SV, BOOKING B 
		WHERE sv.s_idx = B.S_IDX
		AND id=#{id} and to_char(b.bk_regdate, 'YYYYMMDD') = to_char(sysdate, 'YYYYMMDD')
	</select>

</mapper>



