<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.CommonMapper">

	<select id="getPriceList" resultType="com.bit.domain.PriceVO">
		SELECT * FROM PRICE ORDER BY SCT_IDX, TIME_IDX		
	</select>
	
	<!-- 보유 쿠폰 출력 -->
	<select id="getUserCoupon" resultType="com.bit.domain.CouponVO" parameterType="String"> 
		<![CDATA[
			SELECT *
				FROM COUPON C, COUPON_TABLE CB 
				WHERE C.CB_IDX = CB.CB_IDX AND ID = #{id} AND CP_QUANTITY != 0 AND SYSDATE <= CP_ENDDATE
		]]>
	</select>
	
	<update id="minusCoupon" parameterType="int">
		UPDATE COUPON SET CP_QUANTITY = CP_QUANTITY - 1 WHERE CP_IDX = #{cp_idx}
	</update>	
</mapper>



