<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.MyMapper">

	<!-- 내정보 -->
	<select id="user" resultType="com.bit.domain.UsersVO">
		SELECT * FROM USERS WHERE ID =
		#{id}
	</select>

	<!-- 내정보수정 -->
	<update id="update" parameterType="com.bit.domain.UsersVO">
		UPDATE USERS
		SET PASSWORD =
		#{password},
		NAME = #{name},
		PHONE = #{phone},
		EMAIL = #{email},
		ZIPNO =
		#{zipNo},
		ROADADDRPART1 = #{roadAddrPart1},
		ADDRDETAIL = #{addrDetail}
		WHERE ID = #{id}
	</update>

	<!-- 내가쓴글 -->
	<select id="board" resultType="com.bit.domain.BoardVO">
		SELECT * FROM BOARD WHERE ID =
		#{id}
	</select>

	<select id="board_cnt" resultType="int">
		SELECT COUNT(*) FROM BOARD
		WHERE
		ID =
		#{id}
	</select>

	<!-- 내가쓴댓글 -->
	<select id="comment" resultType="com.bit.domain.CommentsVO">
		SELECT * FROM COMMENTS WHERE ID
		= #{id}
		AND B_IDX IS NOT NULL
	</select>

	<select id="comment_cnt" resultType="int">
		SELECT COUNT(*) FROM
		COMMENTS
		WHERE ID
		= #{id}
		AND B_IDX IS NOT NULL
	</select>

	<!-- 내게시물에쓴댓글 -->
	<select id="board_comment"
		resultType="com.bit.domain.CommentsVO">
		SELECT *
		FROM COMMENTS
		WHERE B_IDX = (SELECT B_IDX FROM BOARD
		WHERE ID = #{id})
	</select>

	<select id="board_comment_cnt" resultType="int">
		SELECT COUNT(*)
		FROM
		COMMENTS
		WHERE B_IDX = (SELECT B_IDX FROM BOARD
		WHERE ID = #{id})
	</select>

	<!-- 내댓글에달린댓글 -->
	<select id="comment_comment" resultType="com.bit.domain.ReplyVO">
		SELECT *
		FROM REPLY
		WHERE
		C_IDX = (SELECT C_IDX FROM COMMENTS
		WHERE ID = #{id} AND B_IDX IS NOT
		NULL)
	</select>

	<select id="comment_comment_cnt" resultType="int">
		SELECT COUNT(*)
		FROM
		REPLY
		WHERE
		C_IDX = (SELECT C_IDX FROM COMMENTS
		WHERE ID = #{id} AND
		B_IDX IS NOT
		NULL)
	</select>

	<!-- 내좌석예약내역 -->
	<select id="seat" resultType="com.bit.domain.BookingVO">
		SELECT * FROM BOOKING WHERE ID =
		#{id}
	</select>

	<select id="seat_cnt" resultType="int">
		SELECT COUNT(*) FROM BOOKING
		WHERE ID =
		#{id}
	</select>

	<!-- 내사물함예약내역 -->
	<select id="cabinet" resultType="com.bit.domain.BookingCbVO">
		SELECT * FROM BOOKING_CB WHERE
		ID = #{id}
	</select>

	<select id="cabinet_cnt" resultType="int">
		SELECT COUNT(*) FROM
		BOOKING_CB WHERE
		ID = #{id}
	</select>

	<!-- 내가쓴모집글 -->
	<select id="board2" resultType="com.bit.domain.RecruitVO">
		SELECT * FROM RECRUIT WHERE ID =
		#{id}
	</select>

	<select id="board2_cnt" resultType="int">
		SELECT COUNT(*) FROM RECRUIT
		WHERE ID =
		#{id}
	</select>

	<!-- 내가쓴모집댓글 -->
	<select id="comment2" resultType="com.bit.domain.CommentsVO">
		SELECT * FROM COMMENTS WHERE ID
		= #{id}
		AND RC_IDX IS NOT NULL
	</select>

	<select id="comment2_cnt" resultType="int">
		SELECT COUNT(*) FROM
		COMMENTS WHERE ID
		= #{id}
		AND RC_IDX IS NOT NULL
	</select>

	<!-- 내모집글에달린댓글 -->
	<select id="board_comment2"
		resultType="com.bit.domain.CommentsVO">
		SELECT *
		FROM COMMENTS
		WHERE RC_IDX = (SELECT RC_IDX FROM
		RECRUIT
		WHERE ID = #{id})
	</select>

	<select id="board_comment2_cnt" resultType="int">
		SELECT COUNT(*)
		FROM
		COMMENTS
		WHERE RC_IDX = (SELECT RC_IDX FROM
		RECRUIT
		WHERE ID = #{id})
	</select>

	<!-- 내모집댓글에달린댓글 -->
	<select id="comment_comment2"
		resultType="com.bit.domain.ReplyVO">
		SELECT *
		FROM REPLY
		WHERE C_IDX = (SELECT C_IDX FROM COMMENTS
		WHERE ID = #{id} AND RC_IDX IS NOT NULL)
	</select>

	<select id="comment_comment2_cnt" resultType="int">
		SELECT COUNT(*)
		FROM REPLY
		WHERE C_IDX = (SELECT C_IDX FROM COMMENTS
		WHERE ID = #{id}
		AND RC_IDX IS NOT NULL)
	</select>

</mapper>



