<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.UserMapper">

	<!-- 내플래너 목록 보기 -->
	<select id="getPlannerList"
		resultType="com.bit.domain.PlannerVO" parameterType="int">
		SELECT * FROM
		PLANNER WHERE U_IDX = #{u_idx}
	</select>

	<!-- 내플래너 상세 보기 -->
	<select id="getPlannerOne"
		resultType="com.bit.domain.Planner_dVO" parameterType="int">
		SELECT * FROM
		PLANNER_DETAIL WHERE P_IDX = #{p_idx}
	</select>

	<!-- 북마크 목록 보기 -->
	<select id="getBookmarkList"
		resultType="com.bit.domain.PlannerVO" parameterType="int">
		SELECT P.*
		FROM
		PLANNER P, BOOKMARK B
		WHERE B.U_IDX = #{u_idx}
		AND P.P_IDX = B.P_IDX
	</select>

	<!-- 북마크 상세 보기 -->
	<select id="getBookmarkOne"
		resultType="com.bit.domain.Planner_dVO" parameterType="int">
		SELECT PD.*
		FROM
		PLANNER_DETAIL PD, BOOKMARK B
		WHERE B.P_IDX = #{p_idx}
		AND PD.P_IDX =
		B.P_IDX
	</select>

	<!-- 내가 쓴 댓글 -->
	<select id="getMyCommentList"
		resultType="com.bit.domain.CommentsVO" parameterType="int">
		SELECT *
		FROM
		COMMENTS
		WHERE U_IDX = #{u_idx}
	</select>

	<!-- 내 글에 달린 댓글 -->
	<select id="getCommentList"
		resultType="com.bit.domain.CommentsVO" parameterType="int">
		SELECT C.*
		FROM
		COMMENTS C, PLANNER P
		WHERE P.U_IDX = #{u_idx}
		AND C.P_IDX = P.P_IDX
	</select>

	<!-- 전체일정(내플래너) 갯수 -->
	<select id="getPlannerCnt" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM
		PLANNER WHERE U_IDX = #{u_idx}
	</select>

	<!-- 북마크 갯수 -->
	<select id="getBookmarkCnt" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM
		BOOKMARK WHERE U_IDX = #{u_idx}
	</select>

	<!-- 내 글에 달린 댓글 갯수 -->
	<select id="getCommentCnt" resultType="int" parameterType="int">
		SELECT COUNT(C.*)
		FROM
		COMMENTS C, PLANNER P
		WHERE P.U_IDX = #{u_idx}
		AND
		C.P_IDX = P.P_IDX
	</select>

	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="com.bit.domain.UserVO">
		UPDATE USERS
		SET PASSWORD = #{password},
		NAME = #{name},
		EMAIL = #{email},
		ADDRESS = #{address}
		WHERE U_IDX = #{u_idx}
	</update>

</mapper>



