<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.bit.mapper.RecruitMapper">
		
		<!-- RECRUIT 전체 조회 -->
		<select id="getList" resultType="com.bit.domain.RecruitVO">
		<![CDATA[
			SELECT /*+ INDEX_DESC (RECRUIT RECRUIT_PK) */
			* FROM RECRUIT
		]]>
		</select>
		
		<!-- 페이징 처리 후 조회 -->
		<select id="getListPage" resultType="com.bit.domain.RecruitVO" parameterType="com.bit.utils.PagingVO">
		<![CDATA[
			SELECT * FROM (
							SELECT /*+ INDEX_DESC (RECRUIT RECRUIT_PK) */
							ROWNUM RN, RC_IDX, RC_TITLE, RC_CONTENT, ID, CUR_MEM, MAX_MEM, RC_REGDATE, HIT FROM RECRUIT
						  )
			WHERE RN BETWEEN #{start} AND #{end}
		]]>
		</select>
		
		<!-- 글 상세 조회 -->
		<select id="getOne" resultType="com.bit.domain.RecruitVO">
			SELECT * FROM RECRUIT WHERE RC_IDX = #{rc_idx}
		</select>
		
		<!-- 전체 글 갯수 조회 -->
		<select id="getTotal" resultType="int">
			SELECT COUNT(*) FROM RECRUIT
		</select>
		
		<!-- 모집게시판 신청자 목록 조회 -->
		<select id="getApplyList" resultType="com.bit.domain.ApplyVO">
			SELECT * FROM APPLY WHERE RC_IDX = #{rc_idx}
		</select>
				
		<!-- 조회수 +1 -->
		<update id="updateHit" parameterType="int">
			UPDATE RECRUIT SET HIT = HIT+1 WHERE RC_IDX = #{rc_idx}
		</update>
		<!-- 모집게시판 신청시 cur_mem update -->
		<update id="updateCur" parameterType="int">
			UPDATE RECRUIT SET CUR_MEM = CUR_MEM+1 WHERE RC_IDX = #{rc_idx}
		</update>
		
		<!-- 모집글 수정 -->
		<update id="updateRec" parameterType="com.bit.domain.RecruitVO">
			UPDATE RECRUIT SET RC_TITLE = #{rc_title}, MAX_MEM = #{max_mem}, RC_CONTENT = #{rc_content} WHERE RC_IDX = #{rc_idx}
		</update>
		
		
		
		
		<!-- 모집게시판 insert -->
		<insert id="insertRecruit" parameterType="com.bit.domain.RecruitVO">
			INSERT INTO RECRUIT (RC_IDX, RC_TITLE, RC_CONTENT, ID, MAX_MEM)
						VALUES (RECRUIT_SEQ.NEXTVAL, #{rc_title}, #{rc_content}, #{id}, #{max_mem})
		</insert>
		
		<!-- 모집게시판 신청 insert -->
		<insert id="insertApply" parameterType="map">
			INSERT INTO APPLY (AP_IDX, ID, RC_IDX) 
						VALUES (APPLY_SEQ.NEXTVAL, #{id}, #{rc_idx})
		</insert>
		
		<!-- 모집글 삭제 -->
		<delete id="deleteRec" parameterType="int">
			DELETE FROM RECRUIT WHERE RC_IDX = #{rc_idx}
		</delete>
		
		
		<!-- 신청 취소시 apply 삭제 -->
		<delete id="deleteApply" parameterType="map">
			DELETE FROM APPLY WHERE ID = #{id} AND RC_IDX = #{rc_idx} 
		</delete>
		<!-- 신청 취소시 cur -1 -->
		<update id="minusCur" parameterType="int">
			UPDATE RECRUIT SET CUR_MEM = CUR_MEM - 1 WHERE RC_IDX = #{rc_idx}
		</update>
		
		
		
		
		
		 
		<!-- 페이징 처리 댓글 출력 -->
		<select id="getCommList" resultType="com.bit.domain.CommentsVO" parameterType="map">
		SELECT * FROM (
						SELECT ROWNUM RN, LEVEL, C.* 
						FROM COMMENTS C 
						WHERE RC_IDX = #{rc_idx}
						START WITH RP_IDX IS NULL 
						CONNECT BY PRIOR C_IDX = RP_IDX 
						ORDER SIBLINGS BY C_IDX DESC
					   )
				  WHERE RN BETWEEN #{start} AND #{end}
		</select>
		
		<!-- 모집글 전체 댓글 갯수 -->
		<select id="cntCommAll" resultType="int" parameterType="int">
			SELECT COUNT(*) FROM COMMENTS WHERE RC_IDX = #{rc_idx}
		</select>

		<!-- 모집글 댓글 등록 -->
		<insert id="insertComm" parameterType="com.bit.domain.CommentsVO">
			INSERT INTO COMMENTS (C_IDX, C_CONTENT, ID, RC_IDX)
						VALUES (COMMENTS_SEQ.NEXTVAL, #{c_content}, #{id}, #{rc_idx})
		</insert>
		
</mapper>



